
body{
    background-image: linear-gradient(85deg, rgb(0, 0, 0),rgb(19, 18, 18),rgb(0, 0, 0));
        height: 100vh;
        text-align: center;
        padding: 0;
        margin: 0;
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        z-index: 0;
            
    } 
    .quest{
        position: absolute;
        top: 80px;
        left: 58px;
    }
    .quest_top{
        color: #fff;
        white-space: nowrap;
        font-size: 2rem;
    }
    .quadro{
   
    }
    .box1{
    background-color: #fff;
    display: flex;
    padding: 20px;
    border: 8px  rgb(231, 74, 74);
    margin: 15px;
    border-radius: 15px;
    box-shadow: 5px 10px 13px 2.8px rgba(99, 99, 99, 0.25);
    height: 94px;
    width: 105px;
    top: 138px;
    left: 6px;
    position: absolute;
    }
    .box2{
    background-color: #fff;
    display: flex;
    padding: 20px;
    border: 8px  rgb(231, 74, 74);
    margin: 15px;
    border-radius: 15px;
    box-shadow: 5px 10px 13px 2.8px rgba(99, 99, 99, 0.25);
    height: 94px;
    width: 105px;
    top: 283px;
    left: 6px;
    position: absolute;
    }
    .box3{
    background-color: #fff;
    display: flex;
    padding: 20px;
    border: 8px  rgb(231, 74, 74);
    margin: 15px;
    border-radius: 15px;
    box-shadow: 5px 10px 13px 2.8px rgba(99, 99, 99, 0.25);
    height: 94px;
    width: 105px;
    top: 430px;
    left: 6px;
    position: absolute;
    }
    .box4{
    background-color: #fff;
    display: flex;
    padding: 20px;
    border: 8px  rgb(231, 74, 74);
    margin: 15px;
    border-radius: 15px;
    box-shadow: 5px 10px 13px 2.8px rgba(99, 99, 99, 0.25);
    height: 94px;
    width: 105px;
    top: 577px;
    left: 6px;
    position: absolute;
    
    }
    